:root {
    --purple: #800080;
    --green: #08f800;
    --yellow: #e3d400;
    --orange: #FFA500;
    --red: #ff0000;
    --gray: #c8c7c7;
  }

/* Global styles */
*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Tenorite"; 
}


body {
    margin: 10;
  }


  #map {
    width: 100%;
    height: 100vh;
  }


/* Hide the popup shadow */
.leaflet-popup-shadow {
    display: none !important;
  }
  



/* Popup colors based on geologic age */
.popup-green .leaflet-popup-content-wrapper {
    background-color: var(--green);
  }
.popup-yellow .leaflet-popup-content-wrapper {
    background-color: var(--yellow);
}
.popup-orange .leaflet-popup-content-wrapper {
    background-color: var(--orange);
}
.popup-red .leaflet-popup-content-wrapper {
    background-color: var(--red);
}
.popup-gray .leaflet-popup-content-wrapper {
    background-color: var(--gray);
}