:root {
    --purple: #885f88;
    --green: #71e16d;
    --yellow: #e3d400;
    --orange: #e6ab3c;
    --red: #cc7b7b;
    --gray: #c8c7c7;
  }

/* Global styles */
*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Tenorite"; 
}


body {
  display: flex;
  justify-content: center; /* Centers the child horizontally */
  align-items: center; /* Centers the child vertically */
  height: 100vh; /* Takes the full height of the viewport */
  margin: 0; /* Removes default margin */
  background-color: white;
}


#map {
  position: relative; /* This makes the absolute positioning of ::after relative to this container */
  border-radius: 20px;
  overflow: hidden; /* Ensures the map tiles follow the border radius */
  width: 90%;
  height: 90vh;
  animation: fadeIn 2s ease-out;
  box-shadow: 0 0 50px 30px #fff;
}




/* Hide the popup shadow */
.leaflet-popup-shadow {
    display: none !important;
  }
  


.page-overlay {
    position: fixed; /* Or absolute, but fixed ensures it covers the viewport at all times */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(136, 95, 136, 0.2); /* Adjust the color and opacity as needed */
    pointer-events: none; /* Allows clicks to pass through to elements below */
    z-index: 0;
}




/* Popup colors based on geologic age */
.popup-green .leaflet-popup-content-wrapper {
    background-color: var(--green);
  }
.popup-yellow .leaflet-popup-content-wrapper {
    background-color: var(--yellow);
}
.popup-orange .leaflet-popup-content-wrapper {
    background-color: var(--orange);
}
.popup-red .leaflet-popup-content-wrapper {
    background-color: var(--red);
}
.popup-gray .leaflet-popup-content-wrapper {
    background-color: var(--gray);
}




@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}




